/* .wrap {
  width: 100%;
}

.box {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
} */

.one {
  background-color: red;
}

.two {
  background-color: orange;
}

.three {
  background-color: yellow;
}

.four {
  background-color: green;
}

.five {
  background-color: blue;
}

.six {
  background-color: navy;
}

.seven {
  background-color: purple;
}
